<!--
 * @Author: zhengzhuang
 * @Date: 2021-07-16 11:38:28
 * @LastEditors: zhengzhuang
 * @LastEditTime: 2021-07-21 15:21:36
 * @Description: In User Settings Edit
 * @FilePath: /01-study/gin-demo/template/form.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>From 表单提交</title>
</head>

<body>
  <!-- 正常表单 -->
  <form action="http://localhost:8090/formParameters" method="post">
    用户名: <input type="text" name="username" id="">
    密码: <input type="text" name="password" id="">
    <input type="submit" value="提交">
  </form>
  <!-- 上传单个文件 -->
  <form action="http://localhost:8090/uploadFile" method="post" enctype="multipart/form-data">
    选择文件: <input type="file" name="file" id="">
    <input type="submit" value="提交">
  </form>
  <!-- 上传多个文件 -->
  <form action="http://localhost:8090/uploadMultipleFiles" method="post" enctype="multipart/form-data">
    上传多张文件:<input type="file" name="files" multiple>
    <input type="submit" value="提交">
  </form>
  <!-- 处理接收到的form表单数据 -->
  <form action="http://localhost:8090/formDataHandle" method="post">
    User: <input type="text" name="username" id="">
    password: <input type="text" name="password" id="">
    <input type="submit" value="表单验证">
  </form>
  <div style="margin-top: 100px;"></div>
  <p>数据库操作</p>
  <button onclick="addDataFun()">添加数据</button>
  <button onclick="deleteDataFun()">删除数据</button>
  <button onclick="updateDataFun()">更新数据</button>
  <button onclick="selectDataFun()">查找数据</button>
  <p>redis操作</p>
  <button onclick="getRedis()">获取存储的一个值</button>
  <button onclick="setRedisFun()">存一个值</button>
  <button onclick="batchRedisFun()">存多个数据到redis</button>
  <button onclick="getBatchRedisFun()">取多个redis中的数据</button>
  <button onclick="expireTimeRedisFun()">在redis中存储一个有过期时间的值</button>
  <script>
    var xmlhttp = new XMLHttpRequest()
    function addDataFun() {
      console.log('123123123')
      xmlhttp.open("GET", "http://localhost:8090/addData", true)
      xmlhttp.send()
    }

    function deleteDataFun() {
      xmlhttp.open("GET", "http://localhost:8090/deleteData", true)
      xmlhttp.send()
    }

    function updateDataFun() {
      xmlhttp.open("GET", "http://localhost:8090/updateData", true)
      xmlhttp.send()
    }
    
    function selectDataFun() {
      xmlhttp.open("GET", "http://localhost:8090/selectData", true)
      xmlhttp.send()
    }

    function getRedis() {
      xmlhttp.open("GET", "http://localhost:8090/redis/getRedis", true)
      xmlhttp.send()
    }

    function setRedisFun() {
      xmlhttp.open("GET", "http://localhost:8090/redis/setRedis", true)
      xmlhttp.send()
    }

    function batchRedisFun() {
      xmlhttp.open("GET", "http://localhost:8090/batchRedis", true)
      xmlhttp.send()
    }

    function getBatchRedisFun() {
      xmlhttp.open("GET", "http://localhost:8090/getBatchRedis", true)
      xmlhttp.send()
    }

    function expireTimeRedisFun() {
      xmlhttp.open("GET", "http://localhost:8090/expireTimeRedis", true)
      xmlhttp.send()
    }
  </script>
</body>

</html>