<!--
 * @Author: zhengzhuang
 * @Date: 2021-07-16 15:58:52
 * @LastEditors: zhengzhuang
 * @LastEditTime: 2021-07-16 16:05:47
 * @Description: In User Settings Edit
 * @FilePath: /gin-demo/tem/index.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.title}}</title>
</head>

<body>
    后面是模版渲染的数据==>{{.ce}}，还有title也是
</body>

</html>